<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showTotal()">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'pages.absences.title' | translate}} - {{title}}</ion-title>
    <ion-progress-bar type="indeterminate" [hidden]='!showProgressBar'></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="ionScroll($event)" scrollEvents="true" #scroll>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down" pullingText="{{'components.refresher.pullingText' | translate}}"
      refreshingSpinner="dots" refreshingText="{{'components.refresher.refreshingText' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab [hidden]="!a" vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button (click)="scrollToTop()" translucent="true">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-slides (ionSlideWillChange)="ionSlideWillChange()" #slides>
    <ion-slide *ngFor="let absenceGroup of this.allAbsences | async">
      <ion-list>
        <ion-item *ngIf="absenceGroup.empty && this.sans == false" style="text-align: center;">
          <ion-label>{{'pages.absences.justificationText' | translate: {type: absenceGroup.fullName} }}</ion-label>
        </ion-item>
        <div *ngFor="let item of absenceGroup.data">
          <ion-item button (click)="item.showAll = item.showAll ? false : true">
            <ion-label>
              <h1>{{item.header}}</h1>
            </ion-label>
            <ion-icon *ngIf="!item.showAll" slot="start" name="chevron-forward"></ion-icon>
            <ion-icon *ngIf="item.showAll" slot="start" name="chevron-down"></ion-icon>
          </ion-item>
          <div *ngFor="let absence of item.data">
            <ion-item button *ngIf="item.showAll" (click)="getMoreData(absence)">
              <ion-icon *ngIf="absenceGroup.name == 'justified'" slot="start" name="checkmark-done" class="green"
                size="large"></ion-icon>
              <ion-icon *ngIf="absenceGroup.name == 'beJustified'" slot="start" name="warning" class="yellow"
                size="large"></ion-icon>
              <ion-icon *ngIf="absenceGroup.name == 'unJustified'" slot="start" name="close" class="red" size="large">
              </ion-icon>
              <ion-label class="ion-text-wrap">
                {{absence.Subject}}<br>
                {{'components.absence.' + absence.Type + 'Name' | translate}}
                <p *ngIf="absence.Type == 'Delay'">
                  ({{absence.DelayTimeMinutes}}{{'components.absence.unit' | translate}}.)</p>
              </ion-label>
              <ion-label class="ion-text-wrap">
                {{absence.Teacher}}
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <ion-list *ngIf="sans">
    <ion-item-divider>
      <ion-skeleton-text style="width: 30%" animated></ion-skeleton-text>
    </ion-item-divider>
    <ion-item *ngFor="let number of [0, 1, 2, 3, 4, 5, 6]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text style="width: 80%" animated></ion-skeleton-text>
        <ion-skeleton-text style="width: 80%" animated></ion-skeleton-text>
      </ion-label>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment [value]="this.focused" (ionChange)="getData($event)">
      <ion-segment-button [disabled]="sans" value="0">
        <ion-icon name="checkmark-done"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [disabled]="sans" value="1">
        <ion-icon name="warning"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [disabled]="sans" value="2">
        <ion-icon name="close"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>