<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Havi {{this.monthlySubjectData[0].Subject}} statisztika</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div id="container" style="display: block;"></div>
      <ion-card-title><h1>Átlag: {{this.average}}</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Jegy</ion-label>
          <ion-label>Súly</ion-label>
        </ion-item>
        <ion-item  *ngFor="let item of this.monthlySubjectData" (click)="getMoreData(item)"
        [ngStyle]="{'color': ((item.Weight == '100%') ? 'black' : ((item.Weight == '50%') ? 'green' : ((item.Weight == '150%') ? '#d1ab00' : ((item.Weight == '200%' ? 'red' : 'pink')))) )}">
        <h1>{{item.NumberValue}}</h1>
        <ion-label class="item-note" slot="end">
          <h1>{{item.Weight}}</h1>
        </ion-label>
      </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>