<ion-item button (click)="getMoreData(absence)" detail="false">
    <ion-icon
        slot="start"
        [name]="
            absence.IgazolasAllapota == 'Igazolt'
                ? 'checkmark-done'
                : absence.IgazolasAllapota == 'Igazolando'
                ? 'warning'
                : 'close'
        "
        [ngStyle]="{ color: getColor(absence) }"
        size="large"
    ></ion-icon>
    <ion-label class="ion-text-wrap">
        {{ absence.Tantargy.Nev }}<br />
        <p *ngIf="absence.Tipus.Nev == 'keses'">
            ({{ absence.KesesPercben }}{{ "components.absence.unit" | translate }}.)
        </p>
    </ion-label>
    <ion-label class="ion-text-wrap">
        {{ absence.RogzitoTanarNeve }}
    </ion-label>
</ion-item>
