<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'pages.averages.title' | translate}}</ion-title>
    <ion-buttons slot="end" *ngIf="!sans">
      <ion-button (click)="showPicker()">
        <ion-icon slot="start" name="color-palette"></ion-icon>
        {{'pages.averages.colorBtn' | translate}}
      </ion-button>
    </ion-buttons>
    <ion-progress-bar [hidden]="!this.showProgressBar" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)" slot="fixed"
    pullFactor="0.8" pullMin="50" pullMax="110">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let item of this.subjectAverages | async">
      <ion-card button [style.box-shadow]="'0px 0px 7px 3px ' + getShadowColor(item.Value)" *ngIf="item.Value != 0"
        (click)="showModal(item.Subject, item.ClassValue, item)">
        <ion-card-content>
          <div style="float: right;">
            <h1 [ngStyle]="{'color': color.getContrast()}">{{item.Value}}</h1>
          </div>
          <ion-card-title>
            <h1>{{item.Subject}}</h1>
          </ion-card-title>
          <ion-card-subtitle [ngStyle]="{'color': color.getContrast()}">
            {{'pages.averages.totalGradesText' | translate}}
            {{getCountingGrades(item.Subject)}}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <div *ngIf="sans">
    <ion-list>
      <ion-card *ngFor="let item of [0, 1, 2, 3, 4, 5, 6]">
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>
</ion-content>