<ion-header>
  <ion-toolbar color="brand">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'pages.averages.title' | translate}}</ion-title>
    <ion-progress-bar [hidden]="!this.showProgressBar" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)" slot="fixed"
    pullFactor="0.8" pullMin="50" pullMax="110">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <app-average *ngFor="let item of this.subjectAverages | async"
      (click)="this.showModal(item.Subject, item.ClassValue, item)" [subjectAverage]="item"
      [totalGrades]="getCountingGrades(item.Subject)"></app-average>
  </ion-list>

  <div *ngIf="sans">
    <ion-list>
      <ion-card *ngFor="let item of [0, 1, 2, 3, 4, 5, 6]">
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>
</ion-content>