<ion-card button>
    <ion-card-header>
        <ion-icon
            class="categoryIcon ion-padding-start"
            name="document-text-outline"
            (click)="getMoreData(note)"
        ></ion-icon>
        <ion-card-subtitle
            >{{ note.KeszitoTanarNeve }} &ndash;
            {{ this.fDate.formatDateWithZerosAndDots(note.KeszitesDatuma) }}
        </ion-card-subtitle>
        <ion-card-title (click)="note.opened = !note.opened">{{ note.Cim }}</ion-card-title>
    </ion-card-header>
    <ion-card-content
        *ngIf="!note.opened"
        class="selectableText"
        (click)="note.opened = !note.opened"
    >
        {{ note.Teaser }}
        <p class="ion-text-center">{{ isOpenableNeeded(note.Tartalom) }}</p>
    </ion-card-content>
    <ion-card-content
        *ngIf="note.opened"
        class="selectableText"
        (click)="note.opened = !note.opened"
        [innerHTML]="note.Tartalom"
    >
    </ion-card-content>
</ion-card>
