<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="lineColumnButtons" slot="end">
      <ion-button [fill]="active == 'line' ? 'solid' : 'clear'" (click)="chartSwitch('line')">
        <ion-icon slot="icon-only" name="analytics"></ion-icon>
      </ion-button>
      <ion-button [fill]="active == 'column' ? 'solid' : 'clear'" (click)="chartSwitch('column')">
        <ion-icon slot="icon-only" name="stats-chart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="statistics" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'pages.graphs.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!this.linecolumn && !this.statisticsGrouping">
    <ion-card *ngFor="let number of howMany" #thenblock>
      <div id="container" style="display: block;"></div>
      <ion-card-header>
        <ion-card-subtitle>{{'pages.graphs.allGradesText' | translate}} {{this.howManyGrades}}</ion-card-subtitle>
        <ion-card-title>{{this.title}}{{this.average}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!this.linecolumn && this.statisticsGrouping">
    <ion-card #elseblock *ngFor="let subjectKey of helper">
      <div id={{subjectKey}} style="display: block;"></div>
      <ion-card-header>
        <ion-card-subtitle>{{'pages.graphs.allGradesText' | translate}} {{getNumVals(subjectKey).length}}
        </ion-card-subtitle>
        <ion-card-subtitle>{{'pages.graphs.averageText' | translate}} {{getAvg(subjectKey)}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>



  <ion-slides *ngIf="this.linecolumn" (ionSlideWillChange)="ionSlideWillChange()" #slides mode="ios">
    <ion-slide class="wide">
      <ion-card class="wide" *ngFor="let subjectKey of helper">
        <div class="chart" [attr.id]="'line_' + subjectKey"></div>
        <ion-card-header>
          <ion-card-subtitle>{{'pages.graphs.allGradesText' | translate}} {{getNumVals(subjectKey).length}}
          </ion-card-subtitle>
          <ion-card-subtitle>{{'pages.graphs.averageText' | translate}} {{getAvg(subjectKey)}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide class="wide">
      <ion-card class="wide" *ngFor="let subjectKey of helper">
        <div class="chart" [attr.id]="'column_' + subjectKey" style="display: block;"></div>
        <ion-card-header>
          <ion-card-subtitle>{{'pages.graphs.allGradesText' | translate}} {{getNumVals(subjectKey).length}}
          </ion-card-subtitle>
          <ion-card-subtitle>{{'pages.graphs.averageText' | translate}} {{getAvg(subjectKey)}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>



<ion-footer *ngIf="this.linecolumn">
  <ion-segment (ionChange)="getData($event.detail.value)">
    <ion-segment-button value="0">
      <ion-icon name="analytics"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-icon name="stats"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>