.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 5%;
}
.title {
  text-align: center;
  margin-bottom: 2px;
}
.subtitle {
  text-align: center;
  margin-top: 0px;
}
.dataProt {
  text-align: center;
}
.loginBtn {
  margin-top: 3%;
  margin-bottom: 3%;
}
#background {
  height: 100%;
}
ion-card {
  margin-top: 0;
  padding-top: 10px;
}

//tablets in landscape mode
@media (min-width: 768px) and (orientation: landscape) {
  .login-header {
    .logo {
      width: 15%;
      margin: 50px auto 10px auto;
      display: block;
    }
  }
}
