<ion-header *ngIf="this.userManager.allUsers.length > 0">
  <ion-toolbar color="brand">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'pages.login.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="background">

    <ion-list *ngIf="this.kretaError" lines="none" id="errorInfo">
      <ion-item (click)="this.getErrorInfo()" id="errorInfoItem" button color="danger">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>{{'pages.login.errorDetails' | translate}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-card-header class="login-header">
      <img src="../../assets/img/logo.png" class="logo">
      <h1 class="title">Arisztokréta</h1>
      <p class="subtitle">by Coware</p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">
          {{'pages.login.usernameName' | translate}}
        </ion-label>
        <ion-input [(ngModel)]="user" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          {{'pages.login.passwordName' | translate}}
        </ion-label>
        <ion-input [(ngModel)]="pass" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          {{'pages.login.instituteName' | translate}}
        </ion-label>
        <ion-input (click)="getInstitute()" [(ngModel)]="instituteName" name="selectedInstitute"
          aria-label="Válasszon intézményt!" required readonly></ion-input>
      </ion-item>
      <ion-button [disabled]="!this.user || !this.pass || !this.instituteName" class="loginBtn" color="primary"
        expand="full" fill="solid" (click)="login()">
        {{'pages.login.loginBtnText' | translate}}
      </ion-button>
      <p class="dataProt">{{'pages.login.privacyPolicyText' | translate}} (<a
          href="https://arisztokreta.hu/privacy">https://arisztokreta.hu/privacy</a>).
      </p>
    </ion-card-content>
  </div>
</ion-content>