<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Üzenet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!this.sans">
    <ion-card-content>
      <h2 style="font-weight: bold;">Feladó</h2>
      <p>{{this.message.uzenet.feladoNev}}</p>
      <h2 style="font-weight: bold;">Címzett(ek)</h2>
      <p *ngFor="let cimzett of this.message.uzenet.cimzettLista">
        {{cimzett.nev}}
      </p>
      <h2 style="font-weight: bold;">Tárgy</h2>
      <p>{{this.message.uzenet.targy}}</p>
      <h2 style="font-weight: bold;">Szöveg</h2>
      <div [innerHTML]="message.uzenet.szoveg"></div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="sans">
    <ion-card-content>
      <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-content>