.message-text {
    min-height: 100%;
    font-size: small;
}

#skeleton-message-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

#peopleInfo {
    padding-bottom: 2%;
    h2 {
        font-weight: bold;
        small {
            font-weight: lighter;
        }
    }
    ion-icon {
        font-size: 300%;
        margin-right: 2%;
    }
}

.subject {
    font-weight: normal;
}

#list {
    padding: 0;
}

.bottomBtns {
    width: 40%;
    --ion-color-base: #a7a7a7 !important;
}

.ion-item-background {
    background-color: var(--ion-item-background);
}

#edialog-button {
    color: var(--ion-color-step-550);
}
