<ion-header>
    <ion-toolbar color="brand">
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button
                    defaultHref="averages"
                    [text]="app.getBackButtonText()"
                ></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title>{{'pages.average-graphs.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides
        class="ion-padding-top"
        [ngStyle]="{'background-color': theme.getChartBgColor()}"
        (ionSlideWillChange)="ionSlideWillChange()"
        #slides
    >
        <ion-slide class="wide">
            <div float="center" id="gauge" class="chart"></div>
        </ion-slide>

        <ion-slide class="wide">
            <div id="line" class="chart"></div>
        </ion-slide>

        <ion-slide class="wide">
            <div id="column" class="chart"></div>
        </ion-slide>
    </ion-slides>

    <ion-toolbar class="ion-padding-bottom" mode="ios">
        <ion-segment [value]="focused" (ionChange)="changeGraph($event)">
            <ion-segment-button value="0">
                <ion-icon name="speedometer-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="1">
                <ion-icon name="analytics-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="2">
                <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-list>
        <!-- Add new grades -->
        <ion-item-divider>
            <ion-label>{{'pages.average-graphs.whatIfText' | translate}}</ion-label>
        </ion-item-divider>

        <ion-item [ngClass]="{'item-has-focus': this.unfilled}">
            <ion-select
                id="gradeInput"
                [(ngModel)]="newGrade"
                required
                interface="popover"
                placeholder="{{ 'pages.average-graphs.grade' | translate }}"
            >
                <ion-select-option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i"
                    >{{i}}</ion-select-option
                >
            </ion-select>

            <ion-input
                id="percentInput"
                [color]="this.unfilled ? 'danger' : ''"
                required
                [(ngModel)]="newPercent"
                maxLength="3"
                name="input"
                type="number"
                placeholder="100%"
            ></ion-input>

            <ion-buttons slot="end">
                <ion-button type="submit" (click)="addGrade()">
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>

        <!-- List -->
        <ion-item-divider>
            <ion-label>{{'pages.average-graphs.gradesName' | translate}}</ion-label>
        </ion-item-divider>

        <div *ngFor="let item of displayEvaluations">
            <!-- Grades -->
            <ion-item button (click)="showAlert(item)" *ngIf="item.extraId == null">
                <ion-label [ngStyle]="{'color': getEvaluationColor(item)}">
                    <h2>{{item.SzamErtek}} - {{getWeightText(item.SulySzazalekErteke)}}</h2>

                    <p *ngIf="item.Tema">{{item.Tema}}</p>
                    <p *ngIf="!item.Tema">{{item.Mod?.Leiras}}</p>
                </ion-label>
            </ion-item>

            <!-- Grades added by the user -->

            <ion-item *ngIf="item.extraId != null">
                <ion-label [ngStyle]="{'color': getEvaluationColor(item)}">
                    <h2>{{item.SzamErtek}} - {{item.SulySzazalekErteke}}</h2>

                    <p>{{'pages.average-graphs.addedGradeName' | translate}}</p>
                </ion-label>
                <ion-buttons *ngIf="item.extraId != null" slot="end">
                    <ion-button (click)="removeGrade(item.extraId)">
                        <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
