.wide {
    width: 100%;
    display: block;
    padding-right: 5px;
    padding-left: 5px;
}
.max-height {
    height: 100%;
}
.subtitles {
    text-align: left;
}
.linethrough {
    text-decoration: line-through;
}
#checkmarkIcon {
    transition: color 0.3s;
}
