<ion-header>
  <ion-toolbar color="brand">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="homeworks"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{'pages.timetable-homeworks.title' | translate}} ({{lesson.Subject}})</ion-title>
  </ion-toolbar>
  <ion-list *ngIf="showCompletedBar()" class="ion-no-padding ion-no-margin" lines="none">
    <ion-item>
      <ion-icon [ngStyle]="{'color': lesson.IsHaziFeladatMegoldva ? 'green' : ''}" id="checkmarkIcon"
        name="checkmark-done" slot="start">
      </ion-icon>
      <ion-label>{{'pages.timetable-homeworks.completedText' | translate}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="lesson.IsHaziFeladatMegoldva" (ngModelChange)="changeState()">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-slides class="max-height" (ionSlideWillChange)="ionSlideWillChange()" #slides>
    <!-- Teacher Homeworks -->
    <ion-slide *ngIf="this.lesson.TeacherHomeworkId != null" class="wide">
      <div style="overflow-y: scroll;" class="max-height" *ngIf="!sans">

        <app-empty *ngIf="teacherHomeworks.length == 0 || areAllTeacherHomeworksEmpty()"
          translatorKey="pages.timetable-homeworks.noHomeworksText" icon="library-outline">
        </app-empty>

        <ion-card [hidden]="homework.Szoveg == ''" class=" wide" *ngFor="let homework of teacherHomeworks">
          <ion-card-header (click)="showInfo(homework)">
            <ion-buttons style="float: right;">
              <ion-button>
                <ion-icon slot="icon-only" name="information-circle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-subtitle class="subtitles">{{homework.Rogzito}} - {{homework.FeladasDatuma.substring(0,10)}}
            </ion-card-subtitle>
            <ion-card-subtitle class="subtitles" style="color: red;">
              {{'pages.timetable-homeworks.teacherHomeworks.deadlineText' | translate}}
              {{homework.Hatarido.substring(0, 10)}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="selectableText">
            <div [innerHTML]="homework.Szoveg"></div>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- SANS -->
      <div *ngIf="sans">
        <ion-card class="wide">
          <ion-card-header>
            <ion-buttons style="float: right;">
              <ion-button>
                <ion-icon disabled slot="icon-only" name="information-circle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-subtitle class="deadlineText">
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
              <div>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-slide>
    <!-- Student Homeworks -->
    <ion-slide class="wide" *ngIf="this.lesson.TeacherHomeworkId != null && lesson.IsTanuloHaziFeladatEnabled == true">

      <div *ngIf="!sans" style="overflow-y: scroll;" class="max-height">
        <ion-card class="wide" *ngFor="let homework of studentHomeworks">
          <ion-card-header>
            <ion-buttons *ngIf="!homework.TanuloAltalTorolt" style="float: right;">
              <ion-button (click)="deleteHomework(homework.Id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-subtitle class="subtitles">{{homework.TanuloNev}} - {{homework.FeladasDatuma.substring(0,10)}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content [ngClass]="{'linethrough': homework.TanuloAltalTorolt}">
            <div [innerHTML]="getHomeworkText(homework.FeladatSzovege)"></div>
          </ion-card-content>
        </ion-card>

        <app-empty *ngIf="studentHomeworks.length == 0" translatorKey="pages.timetable-homeworks.noHomeworksText"
          icon="library-outline">
        </app-empty>
      </div>


      <!-- SANS -->
      <div *ngIf="sans">
        <ion-card class="wide" *ngFor="let i of [0, 1, 2, 3]">
          <ion-card-header>
            <ion-buttons style="float: right;">
              <ion-button>
                <ion-icon disabled slot="icon-only" name="information-circle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-subtitle class="deadlineText">
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
              <div>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-slide>
    <!-- Add Student Homework -->
    <ion-slide *ngIf="lesson.IsTanuloHaziFeladatEnabled == true && !sans">
      <ion-list class="wide ion-align-self-start" *ngIf="lesson.CalendarOraType !='UresOra'">
        <ion-list-header>
          <ion-label>{{'pages.timetable-homeworks.addStudentHomework.newHomeworkText' | translate}}</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">{{'pages.timetable-homeworks.addStudentHomework.textLabel' | translate}}
          </ion-label>
          <ion-textarea autoGrow="true" [(ngModel)]="homeworkText"
            placeholder="{{'pages.timetable-homeworks.textareaPlaceholder' | translate}}">
          </ion-textarea>
        </ion-item>
        <ion-button class="ion-margin-top" expand="full" rows="4" shape="round" (click)="addHomework()">
          <ion-icon slot="start" name="add"></ion-icon>
          {{'pages.timetable-homeworks.addStudentHomework.addBtnText' | translate}}
        </ion-button>
      </ion-list>
      <app-empty *ngIf="lesson.CalendarOraType == 'UresOra'" icon="alert-circle-outline"
        translatorKey="pages.timetable-homeworks.cannotAddHomeworkText"></app-empty>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="getData($event)" [value]="this.focused">
      <ion-segment-button *ngIf="lesson.TeacherHomeworkId != null" [disabled]="sans" value="0">
        {{'pages.timetable-homeworks.segment.teacherName' | translate}}
      </ion-segment-button>
      <ion-segment-button *ngIf="lesson.TeacherHomeworkId != null && lesson.IsTanuloHaziFeladatEnabled == true"
        [disabled]="sans" value="1">
        {{'pages.timetable-homeworks.segment.studentName' | translate}}
      </ion-segment-button>
      <ion-segment-button *ngIf="lesson.IsTanuloHaziFeladatEnabled == true" [disabled]="sans" value="a3" value="2">
        {{'pages.timetable-homeworks.segment.addName' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>