<ion-header>
  <ion-toolbar color="brand">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'pages.list.title' | translate}} ({{getHeaderString()}})
    </ion-title>
    <ion-progress-bar *ngIf="componentState == 'loading' || componentState == 'loadedProgress'" type="indeterminate">
    </ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher [disabled]="componentState == 'loading'" slot="fixed" pullFactor="0.8" pullMin="50" pullMax="110"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <!-- DATA DISPLAY -->
  <ion-slides (ionSlideWillChange)="ionSlideWillChange()" #slides>
    <ion-slide *ngFor="let day of getDisplayDays()">
      <ion-list *ngIf="componentState == 'loaded' || componentState == 'loadedProgress'">
        <app-lesson *ngFor="let l of day.data" [lesson]="l" (homeworkClick)="this.openHomeworks(l)"></app-lesson>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <!-- EMPTY -->
  <app-empty *ngIf="componentState == 'empty'" translatorKey="pages.list.emptyText" icon="calendar-outline"></app-empty>

  <!-- SKELETON -->
  <div *ngIf="this.componentState == 'loading'">
    <ion-list>
      <ion-item-divider>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-item-divider>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- ERROR -->
  <app-kreta-error *ngIf="componentState == 'error'" [error]="this.error" (retry)="doRefresh()">
  </app-kreta-error>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="justify-content-center align-items-center" style="height: 100%; flex-direction: column">
      <ion-row>
        <ion-col class="bottomCol back">
          <ion-button class="footerButton" [disabled]="this.componentState == 'loading'" (click)="getPrevWeek()">
            <ion-icon name="arrow-back-circle-sharp"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col class="bottomCol" *ngFor="let day of getDisplayDays(); let i = index">
          <ion-button *ngIf="componentState == 'loaded' || componentState == 'loadedProgress'"
            [fill]="i == this.focused ? 'outline' : 'clear'" (click)="slides.slideTo(i)">
            {{day.shortName}}
          </ion-button>
        </ion-col>

        <ion-col class="bottomCol forward">
          <ion-button [disabled]="componentState == 'loading'" (click)="getNextWeek()">
            <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>