<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div *ngIf="!sans">
      <ion-title>
        Órarend ({{weekToFrom}})
      </ion-title>
    </div>
    <div *ngIf="sans">
      <ion-skeleton-text width="33%"></ion-skeleton-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideWillChange)="ionSlideWillChange()" #slides>
    <ion-slide *ngFor="let day of getShownDays(days)">
      <ion-list>
        <div *ngIf="!sans">
          <div *ngFor="let item of this.timetable">
            <ion-item button *ngIf="item.DayOfWeek == day.index" [ngClass]="getStateClass(item)" slot="start">
              <ion-buttons *ngIf="item.IsTanuloHaziFeladatEnabled || item.TeacherHomeworkId != null"
                class="homeworksBtn" slot="end">
                <ion-button
                  (click)="openHomeworks(item.TeacherHomeworkId, item.Subject, item.IsTanuloHaziFeladatEnabled, item.LessonId, item.CalendarOraType, item.StartTime)">
                  <ion-icon *ngIf="item.TeacherHomeworkId == null" slot="icon-only" name="home"></ion-icon>
                  <ion-icon *ngIf="item.TeacherHomeworkId != null" color="warning" slot="icon-only"
                    src="/assets/extraicons/homewarning.svg"></ion-icon>
                </ion-button>
              </ion-buttons>

              <ion-label (click)="getMoreData(item)" class="ion-text-wrap">
                <h2 slot="start">{{item.Count == -1 ? '+' : item.Count}}. {{item.Subject}}</h2>
              </ion-label>

              <ion-label class="middleLabel" (click)="getMoreData(item)">
                <div *ngIf="item.DeputyTeacher == ''; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <div *ngIf="item.StateName == 'Elmaradt tanóra'; then canceledBlock else notCanceledBlock"></div>
                  <ng-template #canceledBlock>Elmarad</ng-template>
                  <ng-template #notCanceledBlock>
                    <p>{{item.ClassRoom}}</p>
                    <p>{{getTime(item.StartTime, item.EndTime)}}</p>
                  </ng-template>
                </ng-template>
                <ng-template #elseBlock>
                  <p>Helyettesít:</p>
                  <p>{{item.DeputyTeacher}}</p>
                </ng-template>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <div *ngIf="sans">
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-label class="item-note" slot="end">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons class="justify-content-center align-items-center" style="height: 100%; flex-direction: column">
      <ion-row>
        <ion-col>
          <ion-button class="footerButton" [disabled]="sans" (click)="getPrevWeek()">
            <ion-icon name="arrow-dropleft-circle"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col *ngFor="let day of getShownDays(days)">
          <ion-button [ngClass]="{'cTfooterButton': unfocusFooterButton && this.focused == day.index}"
            [fill]="this.focused == day.index ? 'solid' : 'outline'" (click)="getData(day.index)">
            {{day.shortName}}
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button [disabled]="sans" (click)="getNextWeek()">
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>