ion-grid,
ion-row {
    height: 100%;
}

ion-icon {
    font-size: 72pt;
}

ion-button {
    margin-top: 20px;
}

.debug-info {
    background-color: var(--ion-color-light-tint);
    padding: 5px 10px;
    margin: 30px 0px;
}
