.message-text {
    height: 100%;
}

.prev-message {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    p {
        display: block;
    }
}

.label-for-multiline {
    margin-right: 15px;
    flex-shrink: 0;
    align-self: flex-start;
}
