<ion-header>
    <ion-toolbar color="brand">
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="/messages"
                [text]="app.getBackButtonText()"
            ></ion-back-button>
        </ion-buttons>
        <ion-title>{{'pages.new-message.title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="chooseAttachmentSource($event)">
                <ion-icon slot="icon-only" name="attach"></ion-icon>
            </ion-button>
            <ion-button (click)="sendMsg()">
                <ion-icon slot="icon-only" name="send-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-progress-bar type="indeterminate" [hidden]="!showProgressBar"></ion-progress-bar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="full">
            <ion-label>{{'pages.new-message.fromName' | translate}}</ion-label>
            <ion-input [value]="this.getSelfName()" type="text" readonly></ion-input>
        </ion-item>

        <ion-item class="item-input" lines="full">
            <ion-label translate="pages.new-message.toName" class="label-for-multiline"></ion-label>
            <div class="ion-text-wrap">
                <ion-chip outline="true" *ngFor="let a of addresseeList">
                    <ion-label>{{ getName(a) }}</ion-label>
                    <ion-icon
                        name="close-circle"
                        (click)="removeAddressee(a)"
                        *ngIf="!prevMsgId"
                        color="dark"
                    ></ion-icon>
                </ion-chip>
                <ion-chip
                    color="primary"
                    outline="true"
                    (click)="selectAddressees()"
                    *ngIf="!prevMsgId"
                >
                    <ion-icon name="add-circle"></ion-icon>
                    <ion-label translate="pages.new-message.addName"></ion-label>
                </ion-chip>
            </div>
        </ion-item>

        <ion-item lines="full">
            <ion-input
                required
                placeholder="{{'pages.new-message.msgSubjectPlaceholder' | translate}}"
                [(ngModel)]="subject"
                type="text"
            >
            </ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-textarea
                required
                [placeholder]="'pages.new-message.msgTextPlaceholder' | translate"
                class="message-text"
                autoGrow="true"
                [(ngModel)]="text"
            >
            </ion-textarea>
        </ion-item>

        <ion-item lines="none" *ngIf="!prevMsgShown && prevMsgText">
            <ion-button (click)="prevMsgShown = true" fill="clear" color="dark">
                <ion-icon name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-item *ngIf="this.prevMsgText && prevMsgShown" class="prev-message" lines="none">
            <div [innerHTML]="this.prevMsgText"></div>
        </ion-item>
    </ion-list>

    <ion-item *ngFor="let a of this.attachmentList">
        <ion-label>{{a.fajlNev}}</ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="deleteAttachment(a)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-content>
