ion-card.averages {
    margin-bottom: 20px !important;
}
ion-card-content.averages {
    div > h1 {
        font-size: 2.5rem !important;
        font-weight: bold;
    }
    div {
        padding-top: 5px;
    }
}
.color-indicator-box {
    border-radius: 5px;
}
.wide {
    width: 95%;
    display: block;
}
.tl {
    text-align: left;
}
.chart {
    display: block;
    width: 100%;
    min-width: min-content;
}
.home,
.averages {
    transition: box-shadow 0.3s ease 0s;
}
.firstRow {
    border-bottom-color: black;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
