<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'pages.notes.title' | translate}}</ion-title>
    <ion-progress-bar type="indeterminate" [hidden]='!showProgressBar'></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down" pullingText="{{'components.refresher.pullingText' | translate}}"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let item of this.collapsifiedData | async">
      <ion-item button (click)="item.showAll = item.showAll ? false : true">
        <ion-label>{{item.header}}</ion-label>
        <ion-icon *ngIf="!item.showAll" slot="start" name="chevron-forward"></ion-icon>
        <ion-icon *ngIf="item.showAll" slot="start" name="chevron-down"></ion-icon>
      </ion-item>
      <div *ngIf="item.showAll">
        <ion-card button (click)="getMoreData(note)" *ngFor="let note of item.data">
          <ion-card-header>
            <ion-card-subtitle>{{note.Teacher}} - {{note.CreatingTime.substring(0, 10)}}</ion-card-subtitle>
            <ion-card-title>{{note.Title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="selectableText">
            {{note.Content}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-list>

  <ion-list *ngIf="sans">
    <ion-item (click)="getMoreData(note)" *ngFor="let note of [0, 1, 2, 3, 4, 5, 6]">
      <ion-label>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-label>
      <ion-label>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>