<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Értesítések</ion-title>
    <ion-toggle [checked]="this.app.localNotificationsEnabled" (ionChange)="toggleNotifications()" slot="end">
    </ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [disabled]='!this.app.localNotificationsEnabled' *ngFor="let user of this.userManager.allUsers">
      <ion-buttons slot="end">
        <ion-button (click)="enableNotificationsForUser(user.id)" [disabled]='!this.app.localNotificationsEnabled'>
          <ion-icon *ngIf="user.notificationsEnabled && this.app.localNotificationsEnabled" slot="icon-only"
            name="notifications-sharp"></ion-icon>
          <ion-icon *ngIf="!user.notificationsEnabled || !this.app.localNotificationsEnabled" slot="icon-only"
            name="notifications-off-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>{{user.fullName}}</h2>
        <ion-note>{{user.institute.Name}} - {{user.id}}</ion-note>
      </ion-label>
    </ion-item>
    <ion-item button (click)="this.showScheduledNotificactions()" *ngIf="this.app.devSettingsEnabled">
      <ion-icon slot="start" name="list-circle-sharp"></ion-icon>
      <ion-label>Jelenleg időzített értesítések</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-note>A rendszer az órarend értesítések beállítás bekapcsolt állapota
        esetén értesítéseket fog küldeni 10 perccel minden
        óra kezdete előtt (időpont, tantárgy, terem, helyettesítés) a kiválasztott profil órarendje alapján. Az értesítés ezután 15 perccel el fog tűnni. Ilyen
        felhasználó kijelölése a harang ikonra kattintva lehetséges.</ion-note>
    </ion-item>
  </ion-list>
  <!-- <ion-button (click)="testBug(186220)" expand="block" fill="clear" shape="round">
    Halál
  </ion-button> -->
  <!-- <ion-button (click)="testNotification()" expand="block" fill="clear" shape="round">
    Csinálj értesítést
  </ion-button>
  <ion-button (click)="updateNotification()" expand="block" fill="clear" shape="round">
    UpdateNotification
  </ion-button> -->
</ion-content>