/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  .dark-theme {
    .darkToast {
      --ion-item-background: transparent;
      --background: black;
      --color: white;
    }
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    //ion-card-header
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1a1b1e;
  }
  .dark-minimal-theme {
    .darkToast {
      --ion-item-background: transparent;
      --background: black;
      --color: white;
    }
    //sort of ios-specific settings
    ion-item-divider {
      --background: black;
    }
    ion-toolbar {
      --background: black;
    }
    --ion-background-color: black;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-item-background: black;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
  }
  .custom-theme {
    //alerts
    .timeTableAlert {
      --ion-item-background: transparent;
      --ion-background-color: black;
    }
    //ios-specific settings
    ion-item-divider,
    ion-toolbar {
      --background: rgba(0, 0, 0, 0.432);
    }
    //<ion-select> background color
    .alert-wrapper {
      --background: black;
    }
    //<ion-item-divider> background color
    ion-item-divider {
      --background: transparent;
    }
    //toast background color
    .darkToast {
      --ion-item-background: transparent;
      --background: black;
      --color: white;
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    color: white;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-item-background: transparent;
    --ion-background-color: rgba(0, 0, 0, 0.432);

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
  }
  //custom theme backdrop settings
  .custom-theme.bd-25 {
    --ion-background-color: rgba(0, 0, 0, 0.5);
    ion-toolbar {
      --background: rgba(0, 0, 0, 0.5);
    }
  }
  .custom-theme.bd-50 {
    --ion-background-color: rgba(0, 0, 0, 0.6);
    ion-toolbar {
      --background: rgba(0, 0, 0, 0.6);
    }
  }
  .custom-theme.bd-75 {
    --ion-background-color: rgba(0, 0, 0, 0.7);
    ion-toolbar {
      --background: rgba(0, 0, 0, 0.7);
    }
  }
  .custom-theme.bd-100 {
    --ion-background-color: rgba(0, 0, 0, 0.8);
    ion-toolbar {
      --background: rgba(0, 0, 0, 0.8);
    }
  }

  //mostly for the popup messages
  ul {
    list-style-type: disc;
  }

  .selectableText {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  ion-refresher-content {
    --color: #3880ff;
  }
}
