<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'pages.home.title' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showPicker()">
        <ion-icon slot="start" name="color-palette"></ion-icon>
      </ion-button>
      <ion-button [disabled]="this.sans" (click)="goToHomeSettings()">
        <ion-icon slot="start" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" [hidden]='!showProgressBar'></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down" pullingText="{{'components.refresher.pullingText' | translate}}"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngIf="!this.isEmpty">
      <ion-label>{{'pages.home.filterText' | translate}}</ion-label>
      <ion-buttons slot="end">
        <ion-button *ngIf="isRequestEnabled('Student')" (click)="showOrHide('showEvaluations')">
          <ion-icon slot="icon-only" [color]="showEvaluations ? 'primary' : 'dark'" name="school-outline">
          </ion-icon>
        </ion-button>
        <ion-button *ngIf="isRequestEnabled('Student')" (click)="showOrHide('showAbsences')">
          <ion-icon slot="icon-only" [color]="showAbsences ? 'primary' : 'dark'" name="calendar-outline">
          </ion-icon>
        </ion-button>
        <ion-button *ngIf="isRequestEnabled('Events') || isRequestEnabled('Student') || isRequestEnabled('Tests')"
          (click)="showOrHide('showDocs')">
          <ion-icon slot="icon-only" [color]="showDocs ? 'primary' : 'dark'" name="documents-outline">
          </ion-icon>
        </ion-button>
        <ion-button *ngIf="isRequestEnabled('MessageList')" (click)="showOrHide('showMessages')">
          <ion-icon slot="icon-only" [color]="showMessages ? 'primary' : 'dark'" name="chatbox-outline">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div *ngFor="let monthlyGrades of this.formattedCombined | async">
      <ion-item button (click)="showOrHideMonth(monthlyGrades)">
        <ion-icon *ngIf="!monthlyGrades.showAll" slot="start" name="chevron-forward"></ion-icon>
        <ion-icon *ngIf="monthlyGrades.showAll" slot="start" name="chevron-down"></ion-icon>
        <ion-label>{{monthlyGrades.header}}</ion-label>
      </ion-item>
      <div *ngFor="let item of monthlyGrades.data">
        <!-- Evaluation -->
        <ion-card class="evaluationCard" button
          *ngIf="item.EvaluationId != null && item.Type == 'MidYear' && !(!showEvaluations || !monthlyGrades.showAll)"
          (click)="getMoreData(item)"
          [style.box-shadow]="'0px 0px 7px 3px ' + getShadowColor(item.NumberValue, item.Form)">
          <ion-card-content>
            <div *ngIf="item.NumberValue == 0" class="evaluationH1" style="float: right">
              <h1 class="evaluationH1" *ngIf="item.Form == 'Mark'">-</h1>
              <ion-buttons *ngIf="item.Form == 'Text'" slot="end">
                <ion-button>
                  <ion-icon slot="icon-only" name="text"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
            <div *ngIf="item.NumberValue != 0" class="evaluationDiv" style="float: right;">
              <h1 class="evaluationH1" *ngIf="item.Form == 'Mark'" slot="start">{{item.NumberValue}}</h1>
              <h1 class="evaluationH1" *ngIf="item.Form == 'Percent'" slot="start">{{item.NumberValue}}%</h1>
            </div>
            <ion-label>
              <h1>{{item.Subject}} <small>{{item.Weight}}</small></h1>

            </ion-label>
            <ion-label slot="start">{{item.Teacher + themeIf(item.Theme)}}</ion-label>
            <br>
            <ion-label slot="end">{{fDate.formatDateWithZerosAndDots(item.CreatingTime)}}</ion-label>
            <br>
            <ion-label slot="end"></ion-label>
          </ion-card-content>
        </ion-card>
        <!-- Absence -->
        <ion-item button *ngIf="item.AbsenceId != null && !(!showAbsences || !monthlyGrades.showAll)"
          (click)="getMoreData(item)">
          <ion-icon slot="start"
            [name]="item.JustificationState == 'Justified' ? 'checkmark-done' : item.JustificationState == 'BeJustified' ? 'warning' : 'close'"
            [class]="item.JustificationState == 'Justified' ? 'green' : item.JustificationState == 'BeJustified' ? 'yellow' : 'red'"
            size="large"></ion-icon>
          <ion-label class="ion-text-wrap">
            {{item.Subject}}<br>
            {{'components.absence.' + item.Type + 'Name' | translate}}
            <p *ngIf="item.Type == 'Delay'">({{item.DelayTimeMinutes}}{{'components.absence.unit' | translate}}.)</p>
          </ion-label>
          <ion-label class="ion-text-wrap">
            {{item.Teacher}}
          </ion-label>
        </ion-item>
        <!-- Note -->
        <ion-card button *ngIf="item.NoteId != null && !(!showDocs || !monthlyGrades.showAll)">
          <ion-card-header (click)="getMoreData(item)">
            <ion-icon class="categoryIcon" name="document-text-outline"></ion-icon>
            <ion-card-subtitle>{{item.Teacher}} - {{this.fDate.formatDateWithZerosAndDots(item.CreatingTime)}}
            </ion-card-subtitle>
            <ion-card-title>{{item.Title}}</ion-card-title>
          </ion-card-header>
          <hr>
          <div (click)="item.opened = !item.opened">
            <ion-card-content *ngIf="!item.opened" class="selectableText">
              {{getLongItemText(item.Content)}}
              <p style="text-decoration: underline; text-align: center;">{{isOpenableNeeded(item.Content)}}</p>
            </ion-card-content>
            <ion-card-content *ngIf="item.opened" class="selectableText">
              {{item.Content}}
            </ion-card-content>
          </div>
        </ion-card>
        <!-- Event -->
        <ion-card button *ngIf="item.EventId != null && !(!showDocs || !monthlyGrades.showAll)">
          <ion-card-header>
            <ion-icon class="categoryIcon" name="document-attach-outline"></ion-icon>
            <ion-card-subtitle>{{this.fDate.formatDateWithZerosAndDots(item.Date)}}</ion-card-subtitle>
            <ion-card-title>{{item.Title}}</ion-card-title>
          </ion-card-header>
          <hr>
          <div (click)="item.opened = !item.opened">
            <ion-card-content *ngIf="!item.opened" class="selectableText">
              {{getLongItemText(item.Content)}}
              <p style="text-decoration: underline; text-align: center;">{{isOpenableNeeded(item.Content)}}</p>
            </ion-card-content>
            <ion-card-content *ngIf="item.opened" class="selectableText">
              {{item.Content}}
            </ion-card-content>
          </div>
        </ion-card>
        <!-- Test -->
        <ion-card *ngIf="item.Id != null && !(!showDocs || !monthlyGrades.showAll)">
          <ion-card-header>
            <ion-icon class="categoryIcon" src="/assets/extraicons/test.svg"></ion-icon>
            <ion-card-subtitle>{{item.Tanar}} - {{this.fDate.formatDateWithZerosAndDots(item.Datum)}}
              ({{item.HetNapja}})
            </ion-card-subtitle>
            <ion-card-title class="selectableText">
              {{item.SzamonkeresMegnevezese == '' ? '-' : item.SzamonkeresMegnevezese}}</ion-card-title>
            <ion-card-subtitle>{{item.SzamonkeresModja}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="subject">
            <h2>{{item.Tantargy}}</h2>
          </ion-card-content>
        </ion-card>
        <!-- Message -->
        <ion-card *ngIf="item.azonosito != null && !(!showMessages || !monthlyGrades.showAll)" button
          [ngClass]="{'unread': !item.isElolvasva}" (click)="openMessage(item)">
          <ion-card-header>
            <ion-icon class="categoryIcon" name="chatbox-outline"></ion-icon>
            <ion-card-subtitle>{{this.fDate.formatDateWithZerosAndDots(item.uzenet.kuldesDatum)}} -
              {{this.fDate.getTime(item.uzenet.kuldesDatum)}}</ion-card-subtitle>
            <ion-card-title>{{item.uzenet.feladoNev}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{item.uzenet.targy}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ion-item *ngIf="this.isEmpty && this.sans == false">
      <ion-label style="text-align: center;">{{'pages.home.noDataText' | translate}}</ion-label>
    </ion-item>
  </ion-list>


  <div *ngIf="sans">
    <ion-list>
      <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">
        <ion-card [style.box-shadow]="'0px 0px 7px 3px'">
          <ion-card-content>
            <div style="float:right;">
              <ion-item>
                <ion-avatar style="float: right; padding-left: 30%;" slot="end">
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </ion-avatar>
              </ion-item>
            </div>
            <ion-label>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
            <ion-label slot="start">
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
            <br>
            <ion-label slot="end">
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>