.evaluationCard {
  margin-bottom: 20px !important;
}
.evaluationH1 {
  font-size:3rem !important; 
  font-weight: bold;
}
.evaluationDiv {
  padding-top: 10px;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
  
