<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Főoldal
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showPicker()">
        <ion-icon slot="start" name="color-palette"></ion-icon>
        Színek &nbsp;&nbsp;&nbsp;
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" [hidden]='!showProgressBar'></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down" pullingText="Húzd le a frissítéshez" refreshingSpinner="dots"
      refreshingText="Adatok frissítése...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let monthlyGrades of this.formattedStudent | async">
      <ion-item button (click)="showOrHideMonth(monthlyGrades)">
        <ion-icon *ngIf="!monthlyGrades.showAll" slot="start" name="chevron-forward"></ion-icon>
        <ion-icon *ngIf="monthlyGrades.showAll" slot="start" name="chevron-down"></ion-icon>
        <ion-label>{{monthlyGrades.header}}</ion-label>
        <ion-buttons slot="end">
          <ion-button [disabled]="!monthlyGrades.showAll" (click)="showOrHide('evaluations', monthlyGrades);$event.stopPropagation();">
            <ion-icon slot="icon-only" [color]="monthlyGrades.showEvaluations ? 'primary' : 'dark'" name="school-outline">
            </ion-icon>
          </ion-button>
          <ion-button [disabled]="!monthlyGrades.showAll" (click)="showOrHide('absences', monthlyGrades);$event.stopPropagation();">
            <ion-icon slot="icon-only" [color]="monthlyGrades.showAbsences ? 'primary' : 'dark'" name="calendar-outline">
            </ion-icon>
          </ion-button>
          <ion-button [disabled]="!monthlyGrades.showAll" (click)="showOrHide('notes', monthlyGrades);$event.stopPropagation();">
            <ion-icon slot="icon-only" [color]="monthlyGrades.showNotes ? 'primary' : 'dark'" name="document-text-outline">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div *ngFor="let item of monthlyGrades.data">
        <!-- Evaluation -->
        <ion-card class="evaluationCard" button *ngIf="item.EvaluationId != null && item.Type == 'MidYear' && !(!monthlyGrades.showEvaluations || !monthlyGrades.showAll)"
          (click)="getMoreData(item)"
          [style.box-shadow]="'0px 0px 7px 3px ' + getShadowColor(item.NumberValue, item.Form)">
          <ion-card-content>
            <div *ngIf="item.NumberValue == 0 then thenblock else elseblock"></div>
            <!-- NumberValue == 0 -->
            <ng-template #thenblock>
              <div class="evaluationH1" style="float: right">
                <h1 class="evaluationH1" *ngIf="item.Form == 'Mark'">-</h1>
                <ion-buttons *ngIf="item.Form == 'Text'" slot="end">
                  <ion-button>
                    <ion-icon slot="icon-only" name="text"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </ng-template>
            <!-- NumberValue != 0 -->
            <ng-template #elseblock>
              <div class="evaluationDiv" style="float: right;">
                <h1 class="evaluationH1" *ngIf="item.Form == 'Mark'" slot="start">{{item.NumberValue}}</h1>
                <h1 class="evaluationH1" *ngIf="item.Form == 'Percent'" slot="start">{{item.NumberValue}}%</h1>
              </div>
            </ng-template>
            <ion-label>
              <h1>{{item.Subject}} <small>{{item.Weight}}</small></h1>

            </ion-label>
            <ion-label slot="start">{{item.Teacher + themeIf(item.Theme)}}</ion-label>
            <br>
            <ion-label slot="end">{{fDate.formatDateWithZerosAndDots(item.CreatingTime)}}</ion-label>
            <br>
            <ion-label slot="end"></ion-label>
          </ion-card-content>
        </ion-card>
        <!-- Absence -->
        <ion-item button *ngIf="item.AbsenceId != null && !(!monthlyGrades.showAbsences || !monthlyGrades.showAll)"
          (click)="getMoreData(item)">
          <ion-icon slot="start"
            [name]="item.JustificationState == 'Justified' ? 'checkmark-done' : item.JustificationState == 'BeJustified' ? 'warning' : 'close'"
            [class]="item.JustificationState == 'Justified' ? 'green' : item.JustificationState == 'BeJustified' ? 'yellow' : 'red'"
            size="large"></ion-icon>
          <ion-label class="ion-text-wrap">
            {{item.Subject}}<br>
            {{item.TypeName}}
            <p *ngIf="item.Type == 'Delay'">({{item.DelayTimeMinutes}}p.)</p>
          </ion-label>
          <ion-label class="ion-text-wrap">
            {{item.Teacher}}
          </ion-label>
        </ion-item>
        <!-- Note -->
        <div>
          <ion-card button *ngIf="item.NoteId != null && !(!monthlyGrades.showNotes || !monthlyGrades.showAll)"
            (click)="getMoreData(item)">
            <ion-card-header>
              <ion-card-subtitle>{{item.Teacher}} - {{this.fDate.formatDateWithZerosAndDots(item.CreatingTime)}}
              </ion-card-subtitle>
              <ion-card-title>{{item.Title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{item.Content}}
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </ion-list>


  <div *ngIf="sans">
    <ion-list>
      <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]">
        <ion-card [style.box-shadow]="'0px 0px 7px 3px'">
          <ion-card-content>
            <div style="float:right;">
              <ion-item>
                <ion-avatar style="float: right; padding-left: 30%;" slot="end">
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </ion-avatar>
              </ion-item>
            </div>
            <ion-label>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
            <ion-label slot="start">
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
            <br>
            <ion-label slot="end">
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>