.categoryIcon {
  float: right;
  font-size: xx-large;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 60%;
  background-color: rgb(115, 115, 115);
  height: 1px;
}
.unread {
  border-left-width: 10px;
  border-left-style: solid;
}
