<ion-header>
    <ion-toolbar color="brand">
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="settings"
                [text]="app.getBackButtonText()"
            ></ion-back-button>
        </ion-buttons>
        <ion-title>{{'pages.home-settings.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item
            [disabled]="r.requestName == 'Student' && !this.app.devSettingsEnabled"
            *ngFor="let r of this.app.homeRequests"
        >
            <ion-icon *ngIf="r.src == null" slot="start" name="{{r.icon}}"></ion-icon>
            <ion-icon *ngIf="r.src != null" slot="start" src="{{r.src}}"></ion-icon>
            <ion-toggle slot="end" [checked]="r.show" (ionChange)="change(r)"> </ion-toggle>
            <ion-label>
                <h2>
                    {{'pages.home-settings.' + r.requestName + '.title' | translate}}
                    ({{'pages.home-settings.' + r.requestName + '.impactName' | translate}})
                </h2>
                <ion-note
                    >{{'pages.home-settings.' + r.requestName + '.description' |
                    translate}}</ion-note
                >
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list mode="md" lines="none">
        <ion-item>
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-note>{{'pages.home-settings.info' | translate}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>
