.list-empty {
    &,
    ion-row {
        height: 100%;
    }

    ion-icon {
        font-size: 72pt;
    }
}

.message.unread {
    ion-label {
        h2,
        p {
            font-weight: 800;
        }
    }
}
.slide-bottom {
    animation: 0.1s ease-out 0s 1 slideInFromBottom;
}
.slide-top {
    animation: 0.1s ease-out 0s 1 slideInFromTop;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
