<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Statisztikák</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="this.showProgressBar" (click)="openCategorySelector($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar [hidden]="!this.showProgressBar" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select #categorySelector [(ngModel)]="selected" [disabled]="this.showProgressBar"
    (ionChange)="selectorChanged($event, true, true)" [interfaceOptions]="customPopoverOptions" interface="popover"
    slot="end" placeholder="Adatok">
    <ion-select-option value="yBySubject">Tárgyankénti éves</ion-select-option>
    <ion-select-option value="yearly">Éves</ion-select-option>
    <ion-select-option value="mBySubject">Tárgyankénti havi</ion-select-option>
    <ion-select-option value="monthly">Havi</ion-select-option>
  </ion-select>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down" pullingText="Húzd le a frissítéshez" refreshingSpinner="dots"
      refreshingText="Adatok frissítése...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides (ionSlideWillChange)="ionSlideWillChange()" #slides mode="ios">
    <ion-slide class="wide">
      <!-- LINE -->
      <ion-card class="wide">
        <div id="line0" class="chart"></div>
        <ion-card-header *ngIf="showGraphs">
          <ion-card-title>Összátlag: {{(this.lineData[0].average + "").substring(0, 4)}}</ion-card-title>
          <ion-card-subtitle>Összes jegy: {{this.lineData[0].numOfGrades}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide class="wide">
      <!-- COLUMN -->
      <ion-card class="wide">
        <div id="column_0" class="chart"></div>
        <ion-card-header *ngIf="showGraphs">
          <ion-card-title>Összátlag: {{(this.lineData[0].average + "").substring(0, 4)}}</ion-card-title>
          <ion-card-subtitle>Összes jegy: {{this.lineData[0].numOfGrades}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide class="wide">
      <!-- PIE -->
      <ion-card class="wide">
        <div id="pie_0" class="chart"></div>
        <ion-card-header *ngIf="showGraphs">
          <ion-card-title>Összátlag: {{(this.lineData[0].average + "").substring(0, 4)}}</ion-card-title>
          <ion-card-subtitle>Összes jegy: {{this.lineData[0].numOfGrades}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div hidden="true" id="placeholder" *ngIf="!showGraphs" style="display: block;">

    <ion-card *ngIf="sans">
      <ion-card-header>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="getData($event)" [value]="this.focused">
      <ion-segment-button [disabled]="sans" value="0">
        <ion-icon name="analytics"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [disabled]="sans" value="1">
        <ion-icon name="stats-chart"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [disabled]="sans" value="2">
        <ion-icon name="pie-chart"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>