<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Értékelések</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="this.showProgressBar" (click)="this.openCategorySelector($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar [hidden]="!this.showProgressBar" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select #categorySelector [(ngModel)]="selected" [disabled]="this.sans" (ionChange)="selectorChanged($event)"
    [interfaceOptions]="customAlertOptions" interface="popover" slot="end">
    <ion-select-option *ngFor="let option of selectOptions" value="{{option.id}}">{{option.name}}
    </ion-select-option>
  </ion-select>
  <ion-refresher [disabled]="showProgressBar" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down" pullingText="Húzd le a frissítéshez" refreshingSpinner="dots"
      refreshingText="Adatok frissítése...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list [hidden]="this.selected != item.id" *ngFor="let item of this.selectOptionsWithData | async">
    <ion-item *ngIf="this.sans == false" [hidden]="item.data.length != 0" style="text-align: center;">
      <ion-label style="text-align: center">Nincsenek naplózott értékelések.</ion-label>
    </ion-item>
    <!-- Grouped -->
    <!-- bySubject -->
    <div *ngIf="item.id == 'bySubject'">
      <div *ngFor="let dataGroup of item.data">
        <ion-item button (click)="dataGroup.showAll = !dataGroup.showAll" *ngIf="dataGroup.data.length > 0">
          <ion-icon *ngIf="!dataGroup.showAll" slot="start" name="chevron-forward"></ion-icon>
          <ion-icon *ngIf="dataGroup.showAll" slot="start" name="chevron-down"></ion-icon>
          <ion-buttons slot="end" style="float: right">
            <ion-button [disabled]="this.showProgressBar" (click)="showModal(dataGroup.header); $event.stopPropagation();">
              <ion-icon slot="icon-only" name="bar-chart-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>
            <h1>{{dataGroup.header}}</h1>
          </ion-label>
        </ion-item>
        <div *ngFor="let evaluation of dataGroup.data">
          <ion-card *ngIf="dataGroup.showAll" button (click)="this.getMoreData(evaluation)"
            [style.box-shadow]="'0px 0px 7px 3px ' + getShadowColor(evaluation.NumberValue, evaluation.Form)">
            <ion-card-content>
              <div *ngIf="evaluation.NumberValue == 0 then thenblock else elseblock"></div>
              <!-- NumberValue == 0 -->
              <ng-template #thenblock>
                <div style="float: right">
                  <h1 *ngIf="evaluation.Form == 'Mark'">-</h1>
                  <ion-buttons *ngIf="evaluation.Form == 'Text'" slot="end">
                    <ion-button>
                      <ion-icon slot="icon-only" name="text"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </div>
              </ng-template>
              <!-- NumberValue != 0 -->
              <ng-template #elseblock>
                <div style="float: right;">
                  <h1 *ngIf="evaluation.Form == 'Mark'" slot="start">{{evaluation.NumberValue}}</h1>
                  <h1 *ngIf="evaluation.Form == 'Percent'" slot="start">{{evaluation.NumberValue}}%</h1>
                </div>
              </ng-template>
              <ion-label>
                <h1>
                  {{evaluation.Date.substring(0,10)}} <small>{{evaluation.Weight}}</small>
                </h1>

              </ion-label>
              <ion-label slot="start">{{evaluation.Teacher + themeIf(evaluation.Theme)}}</ion-label>
              <br>
              <ion-label slot="end"></ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
    <!-- byDates -->
    <div *ngIf="item.id == 'byDate'">
      <div *ngFor="let dataGroup of item.data">
        <ion-item button (click)="dataGroup.showAll = !dataGroup.showAll">
          <ion-label>
            <h1>{{dataGroup.header}}</h1>
          </ion-label>
          <ion-icon *ngIf="!dataGroup.showAll" slot="start" name="chevron-forward"></ion-icon>
          <ion-icon *ngIf="dataGroup.showAll" slot="start" name="chevron-down"></ion-icon>
        </ion-item>
        <div *ngFor="let evaluation of dataGroup.data">
          <ion-card *ngIf="dataGroup.showAll" button (click)="this.getMoreData(evaluation)"
            [style.box-shadow]="'0px 0px 7px 3px ' + getShadowColor(evaluation.NumberValue, evaluation.Form)">
            <ion-card-content>
              <div *ngIf="evaluation.NumberValue == 0 then thenblock else elseblock"></div>
              <!-- NumberValue == 0 -->
              <ng-template #thenblock>
                <div style="float: right">
                  <h1 *ngIf="evaluation.Form == 'Mark'">-</h1>
                  <ion-buttons *ngIf="evaluation.Form == 'Text'" slot="end">
                    <ion-button>
                      <ion-icon slot="icon-only" name="text"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </div>
              </ng-template>
              <!-- NumberValue != 0 -->
              <ng-template #elseblock>
                <div style="float: right;">
                  <h1 *ngIf="evaluation.Form == 'Mark'" slot="start">{{evaluation.NumberValue}}</h1>
                  <h1 *ngIf="evaluation.Form == 'Percent'" slot="start">{{evaluation.NumberValue}}%</h1>
                </div>
              </ng-template>
              <ion-label>
                <h1>
                  {{evaluation.Subject}} <small>{{evaluation.Weight}}</small>
                </h1>

              </ion-label>
              <ion-label slot="start">{{evaluation.Teacher + themeIf(evaluation.Theme)}}</ion-label>
              <br>
              <ion-label slot="end"></ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
    <!-- Ungrouped -->
    <div *ngIf="item.id != 'bySubject' && item.id != 'byDate'">
      <div *ngFor="let evaluation of item.data">
        <ion-card button (click)="this.getMoreData(evaluation)"
          [style.box-shadow]="'0px 0px 7px 3px ' + getShadowColor(evaluation.NumberValue, evaluation.Form, evaluation.Value)">
          <ion-card-content>
            <div *ngIf="evaluation.NumberValue == 0 then thenblock else elseblock"></div>
            <!-- NumberValue == 0 -->
            <ng-template #thenblock>
              <div style="float: right">
                <h1 *ngIf="evaluation.Form == 'Mark'">-</h1>
                <ion-buttons *ngIf="evaluation.Form == 'Text'" slot="end">
                  <ion-button>
                    <ion-icon slot="icon-only" name="text"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </ng-template>
            <!-- NumberValue != 0 -->
            <ng-template #elseblock>
              <div style="float: right;">
                <h1 *ngIf="evaluation.Form == 'Mark'" slot="start">{{evaluation.NumberValue}}</h1>
                <h1 *ngIf="evaluation.Form == 'Percent'" slot="start">{{evaluation.NumberValue}}%</h1>
              </div>
            </ng-template>
            <ion-label>
              <h1>
                {{evaluation.Form == 'Deportment' || evaluation.Form == 'Diligence' ? evaluation.Jelleg.Leiras : evaluation.Subject}}{{ evaluation.Form == 'Deportment' || evaluation.Form == 'Diligence' ?  (' - ' + evaluation.Value) : ''}}
              </h1>

            </ion-label>
            <ion-label slot="start">{{evaluation.Teacher + themeIf(evaluation.Theme)}}</ion-label>
            <br>
            <ion-label slot="end"></ion-label>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-list>

  <ion-list *ngIf="this.sans">
    <ion-item-divider>
      <ion-skeleton-text style="width: 80%"></ion-skeleton-text>
    </ion-item-divider>
    <ion-card>
      <ion-card-content *ngFor="let i of [0, 1, 2, 3, 4, 5]">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-item-divider>
      <ion-skeleton-text style="width: 80%"></ion-skeleton-text>
    </ion-item-divider>
    <ion-card>
      <ion-card-content *ngFor="let i of [0, 1, 2, 3, 4, 5]">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>