<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beállítások</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          <h1>Téma</h1>
        </ion-label>
      </ion-list-header>

      <ion-item (click)="enableLight()">
        <ion-label>Világos</ion-label>
        <ion-radio hidden slot="start" (click)="enableLight()" [checked]="currentTheme == 'light'"></ion-radio>
        <ion-icon [color]="currentTheme == 'light' ? 'primary': ''" slot="start" name="sunny"></ion-icon>
      </ion-item>

      <ion-item (click)="enableDark()">
        <ion-label>Sötét</ion-label>
        <ion-radio hidden slot="start" (click)="enableDark()" [checked]="currentTheme == 'dark'"></ion-radio>
        <ion-icon [color]="currentTheme == 'dark' ? 'primary': ''" slot="start" name="moon"></ion-icon>
      </ion-item>

      <ion-item (click)="enableMinimalDark()">
        <ion-label>Amoled</ion-label>
        <ion-radio hidden slot="start" (click)="enableMinimalDark()" [checked]="currentTheme == 'minimalDark'"></ion-radio>
        <ion-icon [color]="currentTheme == 'minimalDark' ? 'primary': ''" slot="start" name="contrast"></ion-icon>
      </ion-item>

      <ion-button class="galleryButton" (click)="openBgSettings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
      <ion-button class="galleryButton" (click)="getImage()">
        <ion-icon slot="icon-only" name="folder-open"></ion-icon>
      </ion-button>
      <ion-item class="custom" (click)="enableCustom()">
        <ion-label>[Exp] Saját háttér</ion-label>
        <ion-radio hidden slot="start" (click)="enableCustom()" [checked]="currentTheme == 'custom'"></ion-radio>
        <ion-icon [color]="currentTheme == 'custom' ? 'primary': ''" slot="start" name="image"></ion-icon>
      </ion-item>
    </ion-radio-group>


    <ion-item button (click)="showPicker()">
      Színek testreszabása
      <ion-icon slot="start" name="color-palette"></ion-icon>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h1>Oldalak</h1>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Kezdőlap</ion-label>
      <ion-select [(ngModel)]="defaultPage" (ionChange)="selectorChanged($event)"
        [interfaceOptions]="customAlertOptions" interface="alert" slot="end" placeholder="Órarend">
        <div *ngFor="let page of appPages">
          <ion-select-option *ngIf="page.title != 'Beállítások' && page.show" value="{{page.url}}">{{page.title}}
          </ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-button fill="clear" class="galleryButton" (click)="showHideInfo()">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-item button class="width80" (click)="hidePages()">
      <ion-label>Oldalak elrejtése</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h1>Fiók</h1>
      </ion-label>
    </ion-list-header>
    <ion-item button (click)="logout()">
      Kijelentkezés
      <ion-icon slot="start" name="log-out"></ion-icon>
    </ion-item>
    
    <ion-list-header>
      <ion-label><h1>Adatkezelés</h1></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>Névtelen használati statisztikák küldése</h2>
        <p>Ezzel hozzájárulsz az alkalmazás fejlesztéséhez</p>
      </ion-label>
      <ion-toggle [(ngModel)]="this.analyticsCollectionEnabled" (ionChange)="this.analyticsChanged()" slot="end"></ion-toggle>
    </ion-item>
    <ion-item button (click)="this.openUrl('https://coware-apps.github.io/ellenorzo/privacy')">
      <ion-label>Adatvédelmi nyilatkozat</ion-label>
    </ion-item>

    <ion-list-header [hidden]="!this.devSettings">
      <ion-label>
        <h1>Fejlesztői beállítások</h1>
      </ion-label>
    </ion-list-header>
    <ion-item [hidden]="!this.devSettings">
      <ion-label>Toast-logging</ion-label>
      <ion-toggle [(ngModel)]="this.toastLogging" (ionChange)="toastLoggingChanged()" slot="end"></ion-toggle>
    </ion-item>
    <ion-item disabled [hidden]="!this.devSettings">
      <ion-label>Custom User Agent</ion-label>
      <ion-input></ion-input>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h1>Verzió</h1>
      </ion-label>
    </ion-list-header>
    <ion-item button (click)="this.versionClicked()">
      <ion-label>{{this.appV}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>