<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beállítások</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        <h1>Téma</h1>
      </ion-label>
    </ion-item-divider>
    <ion-radio-group>

      <ion-item button (click)="enableLight()">
        <ion-label>Világos</ion-label>
        <ion-icon [color]="currentTheme == 'light' ? 'primary': ''" slot="start" name="sunny"></ion-icon>
      </ion-item>

      <ion-item button (click)="enableDark()">
        <ion-label>Sötét</ion-label>
        <ion-icon [color]="currentTheme == 'dark' ? 'primary': ''" slot="start" name="moon"></ion-icon>
      </ion-item>

      <ion-item button (click)="enableMinimalDark()">
        <ion-label>Amoled</ion-label>
        <ion-icon [color]="currentTheme == 'minimalDark' ? 'primary': ''" slot="start" name="contrast"></ion-icon>
      </ion-item>

      <ion-item button (click)="enableCustom()">
        <ion-label>Saját háttér</ion-label>
        <ion-icon [color]="currentTheme == 'custom' ? 'primary': ''" slot="start" name="image"></ion-icon>
        <ion-buttons slot="end">
          <ion-button (click)="openBgSettings()">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
          <ion-button (click)="getImage()">
            <ion-icon slot="icon-only" name="folder-open"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-radio-group>


    <ion-item button (click)="showPicker()">
      Színek testreszabása
      <ion-icon slot="start" name="color-palette"></ion-icon>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <h1>Oldalak</h1>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-icon slot="start" name="home"></ion-icon>
      <ion-label>Kezdőlap</ion-label>
      <ion-select [(ngModel)]="defaultPage" (ionChange)="selectorChanged($event)"
        [interfaceOptions]="customAlertOptions" interface="alert" slot="end" placeholder="Órarend">
        <div *ngFor="let page of appPages">
          <ion-select-option *ngIf="page.title != 'Beállítások' && page.show" value="{{page.url}}">{{page.title}}
          </ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item button (click)="hidePages()">
      <ion-icon slot="start" name="eye"></ion-icon>
      <ion-label>Oldalak elrejtése</ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <h1>Értesítések</h1>
      </ion-label>
    </ion-item-divider>
    <ion-item (click)="openNotificationSettings()">
      <ion-icon slot="start" name="notifications-sharp"></ion-icon>
      <ion-label>
        Órarend értesítések
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <h1>Adatkezelés</h1>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-icon slot="start" name="analytics"></ion-icon>
      <ion-label>
        <h2>Névtelen használati statisztikák</h2>
        <ion-note>Ezzel hozzájárulsz az alkalmazás fejlesztéséhez</ion-note>
      </ion-label>
      <ion-toggle [checked]="this.app.analyticsCollectionEnabled" (ionChange)="this.analyticsChanged($event)"
        slot="end">
      </ion-toggle>
    </ion-item>
    <ion-item button (click)="this.openUrl('https://coware-apps.github.io/ellenorzo/privacy')">
      <ion-icon slot="start" name="information-circle"></ion-icon>
      <ion-label>Adatvédelmi nyilatkozat</ion-label>
    </ion-item>

    <ion-item-divider [hidden]="!this.app.devSettingsEnabled">
      <ion-label>
        <h1>Fejlesztői beállítások</h1>
      </ion-label>
    </ion-item-divider>
    <ion-item [hidden]="!this.app.devSettingsEnabled">
      <ion-icon slot="start" name="code"></ion-icon>
      <ion-label>Toast-logging</ion-label>
      <ion-toggle [checked]="this.app.toastLoggingEnabled" (ionChange)="toastLoggingChanged($event)" slot="end">
      </ion-toggle>
    </ion-item>
    <ion-item [hidden]="!this.app.devSettingsEnabled" button (click)="customUAClicked()">
      <ion-icon slot="start" name="flask"></ion-icon>
      <ion-label>
        <h2>User-Agent LAB (beta)</h2>
        <ion-note>Ha nem tudod pontosan mi ez, ne használd!</ion-note>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <h1>Fiókok</h1>
      </ion-label>
    </ion-item-divider>
    <ion-item button (click)="openUserSettings()">
      <ion-icon slot="start" name="people-sharp"></ion-icon>
      <ion-label>
        <h2>Kezelés</h2>
        <ion-note>Hozzáadás és eltávolítás</ion-note>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <h1>Verzió és egyéb adatok</h1>
      </ion-label>
    </ion-item-divider>
    <ion-item button (click)="this.versionClicked()">
      <ion-icon slot="start" name="code-working-sharp"></ion-icon>
      <ion-label>{{this.app.appV}}</ion-label>
    </ion-item>
    <ion-item button (click)="openUrl('https://documenter.getpostman.com/view/10379752/SzKPULz6')">
      <ion-icon slot="start" name="cloud-sharp"></ion-icon>
      <ion-label>KRÉTA API dokumentáció</ion-label>
    </ion-item>
  </ion-list>
</ion-content>